@model CsvDataManager.Dtos.TypeOfFileDto;
@{
    ViewData["Title"] = "CsvImport";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>CsvImport</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Page" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">CsvImport</li>
            </ol>
        </nav>
    </div>

    <div class="container pt-4">
        <section>
            <form method="post" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="col-md-8 mb-3 mt-4">
                        <div class="form-group">
                            <label for="csvFile">Choose CSV File</label>
                            <div class="input-group">
                                <input asp-for="CsvFile" type="file" class="form-control" id="csvFile" name="csvFile" accept=".csv" />
                                <span asp-validation-for="CsvFile" class="text-danger small"></span>
                                <button class="btn btn-primary" id="processFileBtn">Process File</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 mt-5">
                        <div class="form-group">
                            <label for="networkPath">Enter Network Path</label>
                            <div class="input-group">
                                <input asp-for="NetworkPath" type="text" class="form-control" id="networkPath" name="networkPath" placeholder="Enter network path or URL" />
                                <span asp-validation-for="NetworkPath" class="text-danger small"></span>
                                <button class="btn btn-primary" id="processNetworkPathBtn">Process Network Path</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>
