@{
    ViewData["Title"] = "Manage Data";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Manage Data</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Page" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">ManageData</li>
            </ol>
        </nav>
    </div>
</main>
