@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Page" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div>
</main>
