@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Settings</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="JobProvider" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Settings</li>
            </ol>
        </nav>
    </div>
</main>